<div class="relative flex size-full min-h-screen flex-col justify-between group/design-root overflow-x-hidden">
    <div class="flex-grow">
      <router-outlet></router-outlet>
      <div class="sticky bottom-0">
      <div class="flex justify-around border-t bg-white px-2 py-2">
        <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2" routerLink="/home" routerLinkActive="bg-blue-50" mat-ripple>
          <span class="material-symbols-outlined">home</span>
          <p class="text-xs font-medium">Inicio</p>
        </a>
        <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2" routerLink="/events" routerLinkActive="bg-blue-50" mat-ripple>
          <span class="material-symbols-outlined">event</span>
          <p class="text-xs font-medium">Eventos</p>
        </a>
        <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2" routerLink="/notifications" routerLinkActive="bg-blue-50" mat-ripple>
          <span class="material-symbols-outlined">notifications</span>
          <p class="text-xs font-medium ">Anuncios</p>
        </a>
      </div>
    </div>
    </div>
</div>
