.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  header {
    position: sticky;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  }

  main {
    flex-grow: 1;
    padding: 10px 16px;
  }

  nav {
    position: sticky;
    bottom: 0;
    border-top: solid 1px var(--gray-color-alternative);
    background-color: white;
  }
}

.admin-section {
  margin-bottom: 32px;

  h2.title {
    font-size: var(--font-title-section);
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 20px;
  }
}

.nav-link {
  color: var(--gray-color-text);

  &.active {
    color: black;
  }
}

@media screen and (min-width: 600px){
  .admin-container {
    display: block;

    header {
      width: 100%;
    }

    main {
      display: flex;
      flex-direction: column;
    }
  }


  .eventHeader {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    justify-content: start;
  }

  .eventHeader > div.card {
    /*width: 120%;*/
    margin: 0;
  }

  .eventHeader > button {
    height: 80%;
    flex-grow: 1;
  }

}
