<div class="relative flex size-full min-h-screen flex-col justify-between group/design-root overflow-x-hidden"
     style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
  <div class="flex-grow">
<!--    <div-->
<!--      class="sticky top-0 z-10 flex items-center bg-white p-4 pb-2 justify-between border-b border-[var(&#45;&#45;secondary-color)]">-->
<!--      <div class="text-[var(&#45;&#45;text-primary)] flex size-10 shrink-0 items-center justify-center rounded-full hover:bg-gray-100"-->
<!--           data-icon="ArrowLeft" data-size="24px" data-weight="regular">-->
<!--        <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px"-->
<!--             xmlns="http://www.w3.org/2000/svg">-->
<!--          <path-->
<!--            d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z">-->
<!--          </path>-->
<!--        </svg>-->
<!--      </div>-->
<!--      <h2-->
<!--        class="text-[var(&#45;&#45;text-primary)] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pr-10">-->
<!--        Book Lover's Club</h2>-->
<!--    </div>-->
    <div class="flex flex-col items-center p-6 @container bg-slate-50">
      <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-32 w-32 shadow-lg mb-4"
           style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBYcLO0UIB9OpBvmoSX51J30nR-NQFGrGJXqjvOgiG7Mdns86ReBfYg0IZnFFD5uRp4YTB3Hqxoj8mHoT1yXL38SbcXT-NolFVejiKCawOPTGzfv2rzCwYOsslNStD4bavSBqUVeaKrSvqNgiv1JRsGtlV30rqZg1eMauXpjIa_TmM2zbgMKUFhxPsySvhQekrnI65KLvCczAYOL0A402vAfjp6sTqwSK4KVPrZ12h7eqxX6SweSlY_KrK4llad83UNAys8YnS_Rts");'>
      </div>
      <div class="flex flex-col items-center justify-center text-center">
        <p class="text-[var(--text-primary)] text-2xl font-bold leading-tight tracking-tight">Book Lover's
          Club</p>
        <p class="text-[var(--text-secondary)] text-base font-normal leading-normal">123 miembros · Grupo Publico</p>
      </div>
    </div>
    <div class="p-6">
      <h2 class="text-[var(--text-primary)] text-xl font-bold leading-tight tracking-tight mb-3">Nuestro Club</h2>
      <p class="text-[var(--text-secondary)] text-base font-normal leading-relaxed">
        ¡Hola, amante de la lectura! Somos un grupo de apasionados por los libros que se reúne mensualmente.

        Nos encanta platicar sobre nuestras obras favoritas, compartir puntos de vista y conectar con gente que
        comparte esta misma pasión. Acompáñanos para disfrutar de charlas amenas y celebrar las historias que nos unen.
      </p>
    </div>
    <div class="px-6">
      <h2 class="text-[var(--text-primary)] text-xl font-bold leading-tight tracking-tight mb-3">Reuniones Pasadas
      </h2>
    </div>
    <div
      class="flex overflow-x-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden pl-6 pr-3">
      <div class="flex items-stretch gap-4">
        <div class="flex h-full flex-1 flex-col gap-2 rounded-lg min-w-40">
          <div class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg flex flex-col"
               style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBeqedAbmPLMzi-Id3ACeLIzdj7TRj-1DonifmKsSPprCMCvZiL51DPHX6tPQbO6-PPDeIGeVDlDDzIXCoymdN3MTNiNh1toHb3G7DEBjfs1y99qRjXLzUP5NZ0Rj-kQWr1HZrcg2PfpzOpFTzpKxIZhZ-Tmrr7WIozOQ6X0wZUsbieWKxzIN1UZX_SA4NFNelNRIiclYIObEGdZFpQH7sqWTU9raR3DjO4JTgZyVDAY9nn_eRM3QHWZ0ZBzo9E2S87okgsWHw8ZB8");'>
          </div>
          <p class="text-[var(--text-primary)] text-base font-medium leading-normal">Reunion de Julio</p>
        </div>
        <div class="flex h-full flex-1 flex-col gap-2 rounded-lg min-w-40">
          <div class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg flex flex-col"
               style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD0nuqe5ojTzXUw3nBtnnxiYKBgrgLQkpvIrFbKkxJZBcNmcMsDl_CfH2VJTEqcEolo1mXXY8daQ4YPfLN_3ev7XjdYF8jyt2LBBwmXrSOUv-L6VKA5hItLz2ojYuAfxr0_PdPv_8cF4rQby2NSpg9sdNwkoSqileEUU6RXaedWO2I_gikPnIfQKMf-ZOWnVPzp981o51-a8vAXBzojObsKqdVq6kNl_angxousCwgnGWc9DLnYfcohaUFn_3Jncir2Ggw0Apslzmo");'>
          </div>
          <p class="text-[var(--text-primary)] text-base font-medium leading-normal">Reunion de Junio</p>
        </div>
        <div class="flex h-full flex-1 flex-col gap-2 rounded-lg min-w-40">
          <div class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg flex flex-col"
               style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD--CsiF14xfBSe20UjalPBv0_gJjV2HlcHYJvpv9DmdMN8tVVBP7_J87nGyxCX7-ou-UszLRctitySo3d_kppK343-qkvtwI7-LMARhhY90tJAoMzxST4amb0HwUM-SDAAbsi5bv2lFC175TseBb-o-DMI7ZxeWFx08jENBkyyBrgDRoefX47x261ZPWh20GmoDq303qPrVsPj7rctiBqUZxfpu_wLgKMzx4QRBO_gJB03-AiezjkLEdFYTJl1doAgkdzOoWXy0dU");'>
          </div>
          <p class="text-[var(--text-primary)] text-base font-medium leading-normal">Reunion de Mayo</p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <h2 class="text-[var(--text-primary)] text-xl font-bold leading-tight tracking-tight mb-4">Anuncios
      </h2>
      <div class="space-y-4">
        <div class="flex items-center gap-4 bg-slate-50 p-4 rounded-lg">
          <div
            class="flex items-center justify-center size-12 bg-white rounded-full text-[var(--primary-color)]">
            <span class="material-symbols-outlined">auto_stories</span>
          </div>
          <div class="flex flex-col justify-center">
            <p class="text-[var(--text-primary)] text-base font-medium leading-normal line-clamp-1">Libro del Mes</p>
            <p class="text-[var(--text-secondary)] text-sm font-normal leading-normal line-clamp-2">Julio
              15, 2024</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-slate-50 p-4 rounded-lg">
          <div
            class="flex items-center justify-center size-12 bg-white rounded-full text-[var(--primary-color)]">
            <span class="material-symbols-outlined">groups</span>
          </div>
          <div class="flex flex-col justify-center">
            <p class="text-[var(--text-primary)] text-base font-medium leading-normal line-clamp-1">Proxima reunion</p>
            <p class="text-[var(--text-secondary)] text-sm font-normal leading-normal line-clamp-2">Julio 20, 2024</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-slate-50 p-4 rounded-lg">
          <div
            class="flex items-center justify-center size-12 bg-white rounded-full text-[var(--primary-color)]">
            <span class="material-symbols-outlined">cake</span>
          </div>
          <div class="flex flex-col justify-center">
            <p class="text-[var(--text-primary)] text-base font-medium leading-normal line-clamp-1">Cumpleaños</p>
            <p class="text-[var(--text-secondary)] text-sm font-normal leading-normal line-clamp-2">Julio 25, 2024</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-slate-50 p-4 rounded-lg">
          <div
            class="flex items-center justify-center size-12 bg-white rounded-full text-[var(--primary-color)]">
            <span class="material-symbols-outlined">rate_review</span>
          </div>
          <div class="flex flex-col justify-center">
            <p class="text-[var(--text-primary)] text-base font-medium leading-normal line-clamp-1">Reseñas</p>
            <p class="text-[var(--text-secondary)] text-sm font-normal leading-normal line-clamp-2">Julio 30, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sticky bottom-0">
    <div class="flex justify-around border-t border-[var(--secondary-color)] bg-white px-2 py-2">
      <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2 text-[var(--primary-color)] bg-blue-50" href="#">
        <span class="material-symbols-outlined">home</span>
        <p class="text-xs font-medium leading-normal tracking-[0.015em]">Inicio</p>
      </a>
      <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2 text-[var(--text-secondary)] hover:bg-gray-50" href="#">
        <span class="material-symbols-outlined">event</span>
        <p class="text-xs font-medium leading-normal tracking-[0.015em]">Eventos</p>
      </a>
      <a class="flex flex-1 flex-col items-center justify-center gap-1 rounded-md p-2 text-[var(--text-secondary)] hover:bg-gray-50"
         href="#">
        <span class="material-symbols-outlined">notifications</span>
        <p class="text-xs font-medium leading-normal tracking-[0.015em]">Anuncios</p>
      </a>
    </div>
  </div>
</div>
